# Este es un .gitignore esencial para Unity

# Carpetas generadas por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Archivos específicos de IDE (Visual Studio / Rider)
*.sln
*.csproj
*.user
*.userprefs
.idea/

# Ignorar caché de Visual Studio
.vs/
[Vv]s/